<ion-header>
  <ion-toolbar color ="favorite">
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title size="small">La aplicación para Turismo.....</ion-title>
  </ion-toolbar>

  <ion-title>Cuenta de Usuario:</ion-title>
  
  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="person-circle"></ion-icon>
      <ion-label position="stacked">Usuario:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-label position="stacked">Contraseña:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>

  <ion-toolbar>
    <ion-button color="success">Ingresar</ion-button>
    <ion-title size="small">¿No tienes una cuenta?</ion-title>
    <ion-button href="#">Registrarse</ion-button>
  </ion-toolbar>


    <ion-button (click)="goToInicio()" expand="block" fill="outline">Recordarme más adelante</ion-button>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button fill="solid">
          <ion-icon slot="start" name="person-circle"></ion-icon>
          Contacto
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button fill="solid" color="secondary">
          Ayuda
          <ion-icon slot="end" name="help-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>


</ion-content>
